.npc-tags .tag {
  background-color: #5e0000;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
}

.npc-tags .tag:hover {
  background-color: #fff;
  color: #5e0000;
}
